<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Humble Bundle Library Downloader</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="color-scheme" content="light dark"/>
  <script src="dist/htmx.min.js"></script>
  <link rel="stylesheet" href="dist/styles.css">
</head>

<body>
<h1>Humble Bundle Library Downloader</h1>
<div class="controls">
  <button hx-post="/ebooks/load" hx-trigger="click" hx-target="#message-output" hx-swap="innerHTML">
    Load eBooks
  </button>
  <button hx-post="/ebooks/all" hx-trigger="click" hx-target="#ebooks-output" hx-swap="innerHTML">
    View all eBooks
  </button>
</div>
<div id="message-output"></div>
<div id="ebooks-output"></div>
</body>

</html>
